<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://loremflickr.com/800/180/<%= @restaurant.category %>)">
<%= @restaurant.name %>
</div>
<div class="container" class="d-flex">
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>
<div class="row">
  <%= link_to "Home", restaurants_path, class: "col-4 btn btn-info" %>
  <%= link_to "Edit", edit_restaurant_path(@restaurant), class: "col-4 btn btn-info" %>
  <%= link_to "DESTROY", restaurant_path(@restaurant), class: "col-4 btn btn-info", data: { turbo_method: :delete, turbo_confirm: "Remove #{@restaurant.name}?" } %>
</div>
</div>
